<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">notesapp</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<meteor-include src="loginButtons"></meteor-include>
			<form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" placeholder="Search" ng-model="searchText" class="form-control">
				</div>
			</form>
		</div>
	</div>
</nav>


	<div class="jumbotron">
		<div class="container">
				<div class="row">
					<div class="col-md-4 pull-right">
					<form ng-submit="addNote(newNote,newNoteForm.$valid); " name="newNoteForm" id="noteForm" novalidate>
					<div class="form-group" ng-class="{ 'has-error' : submitted  &&
					(newNoteForm.title.$error.required || newNoteForm.title.$error.minlength || newNoteForm.title.$error.minlength)}">
						<input type="text" name="title" class="form-control" ng-model="newNote.title" placeholder="title" required ng-minlength="3" ng-maxlength="30"/>
						<p ng-show="newNoteForm.title.$error.required && submitted" class="help-block">Title is required.</p>
						<p ng-show="newNoteForm.title.$error.minlength && submitted" class="help-block">Title is too short.</p>
						<p ng-show="newNoteForm.title.$error.maxlength && submitted" class="help-block">Title is too long.</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error': newNoteForm.content.$error.required && submitted }">
						<textarea rows="6" name="content" class="form-control" placeholder="Note" ng-model="newNote.content" required></textarea>
						<p ng-show="newNoteForm.content.$error.required && submitted" class="help-block">Note is required.</p>
					</div>
					<div class="control-group">
						<select id="input-tags" name="tags[]" multiple class="demo-default" style="width:100%" placeholder="Add Tags" ng-model="newNote.tags" ng-change="addTag(newNote.tags)">
							<option ng-repeat="tag in note_tags" value="{{tag.name}}">
								{{tag.name}}</option>
							</select>
						</div>
						<button type="submit" id="formSubmit" class="btn btn-primary pull-right">Save</button>
					</form>					
					</div>
				</div>
			</div>
	</div>
<header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<ul class="list-inline">
						<li ng-repeat="tag in note_tags">
							<div class="btn-group btn-group-xs" role="group" aria-label="...">
								<button class="btn btn-success" type="button" ng-click="filterByTag(tag.name)">
									<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
									{{tag.name}}  <span class="badge">{{tag.count}}</span>
								</button>
							</div>
						</li>
					</ul>
					<p ng-show="searchEnabled"> Showing {{selectedTag.count}} notes taged with 
					<span class="label label-danger">{{selectedTag.name}}</span></p>
					<p ng-show="searchEnabled"><a href="" ng-click="filterByTag()">Show All</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" id="{{note._id}}" ng-repeat="note in notes | filter:searchText">
			<div class="panel panel-primary">
				<div class="panel-heading">{{note.createdAt | date:'dd-MM-yyyy'}} - {{note.title}}
						<button type="button" class="close" 
						data-target="#{{note._id}}"
						data-dismiss="alert">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
				</div>
				<div class="panel-body">
					<p>{{note.content}}</p>
					Tags: 
					<ul class="list-inline">
						<li ng-repeat="tag in note.tags">
							<div class="btn-group btn-group-xs" role="group" aria-label="...">
								<button class="btn btn-success" type="button" ng-click="filterByTag(tag)">
									<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
									{{tag}}
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</header>
<script type="text/javascript">
	$( document ).ready(function() {
		var $addTags = $('#input-tags').selectize({
			create: true
		});
		var control = $addTags[0].selectize;
		$('#noteForm').submit(function(event){
			control.clear();
		});
	});
</script>